<html>
  <head>
    <title>Nicholas Mercer</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield 'layouts/bootstrap-tabs.js' %>
    <%= yield 'layouts/bootstrap-dropdown.js.js' %>
    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class=span12>
        <form class="well">
          <%= render 'layouts/body' %>
        </form>
  </body>
</html>
